<footer>
    <h3>Author: Vũ Văn Chung</h3>
    <a href="mailto:vuchung249@gmail.com">Mail to Chung</a>
</footer>

<script>
    document.getElementById("addButton").addEventListener("click", () => {
        document.querySelector(".popup").style.display = "flex"
    })

    document.getElementById("closepopup").addEventListener("click", () => {
        document.querySelector(".popup").style.display = "none"
    })



    function ajax_get(url, callback) {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                callback(xmlhttp.responseText)
            }
        }

        xmlhttp.open("GET", url, true)
        xmlhttp.send()
    }
    function getID(id) {
        ajax_get(`http://localhost:4000/news/json/${id}`, function (data) { 
            document.getElementById("actionform").action = '/editnews'         
            
            console.log(data)
            var json = JSON.parse(data)
            document.getElementById("articleID").value = json[0].id
            document.getElementById("title_rendered").value = json[0].title_rendered
            document.getElementById("content_rendered").value = json[0].content_rendered
            document.getElementById("excerpt_rendered").value = json[0].excerpt_rendered
            document.getElementById("head_json_title").value = json[0].head_json_title
            document.getElementById("thumbnail_url").value = json[0].thumbnail_url

            
            document.querySelector(".popup").style.display = "flex"
            
        })
    }




</script>