<div class="header_add">
    <button id="addButton" class="btn btn-primary">ADD NEWS</button>
</div>
<div class="header__search">
    <form action="/search" method="POST">
        <input type="text" name="search" placeholder="Search Title" autocomplete="on" required />
        <input type="submit" value="Search" />
    </form>
</div>


